---
layout: splash
title: Climate Watch
page: home
---
%header
  %img.logo{src: 'images/combined-shape-copy-2.svg', alt: 'Climate Watch'}

%section
  %p
    Launching in November 2017, this robust online platform is designed to
    empower policymakers, researchers and other stakeholders with the climate
    data, visualizations and resources they need to gather insights on
    national and global progress on climate change.
  %p
    Climate Watch will bring together dozens of datasets for the first time
    to let users analyze and compare national climate pledges under the Paris
    Agreement, access historical GHG emissions data, discover how climate
    objectives can help achieve sustainable development goals, understand
    vulnerabilities and readiness to climate impacts, and use models to map
    new pathways to a lower-carbon future.

  %a.signup{href: 'http://connect.wri.org/l/120942/2016-02-08/2trw5q', target: '_blank'}
    Sign up for email updates

  %p.contact
    Contact us:
    %a{href: 'mailto:climatewatch@ndcpartnership.org'} climatewatch@ndcpartnership.org

%footer
  %div
    %span.joint
      Climate Watch is a joint initiative of

    %span.img
      %a{href: 'http://www.ndcpartnership.org'}
        %img.ndc{src: 'images/n-8-iae-lp-white.png', alt: 'NDC Partnership'}

    %span.img
      %a{href: 'http://www.wri.org'}
        %img.wri{src: 'images/bitmap.png', alt: 'WRI'}


  %span.about
    Partners include Climate Action Tracker, Climate Analytics, German Institute
    for International Cooperation, the World Bank and the UNFCCC.
    <br/>
    Generous funding  for this initiative is provided by the German Federal Ministry for the Environment,
    the UK Department for Business, Energy and Industrial Strategy, Google and the Swiss government.
